*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.menu-h ul{
    list-style: none;
    padding: 0;
    padding-top:5px;
    background-color: #99BCBD;
    text-align: center;
    height: 80px;
    font-family: arial, sans-serif;
    border-bottom: solid 4px #4E9094;
}

.menu-h ul h1{
    margin-left:10px;
    text-align: left;
    font-weight:bold;
}

.menu-h li{
    display: inline;
    background-color: #326950;
    justify-content: center;
    text-align: center;  
    margin: 90px;
    margin-left:60px;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
    float:left;
    width: 150px;
}

.primli{
    margin-left: 210px;
}

.menu-h li a{
    
    color: #FFF;
    padding:10px;
    display:inline-block;
    text-decoration: none;
    display: inline;
      
}

.conteudo{
    margin-top:50px;
    color:#FFF;
    background-color:#4E9094;
    width: 60%;
    text-align: left;
    padding: 40px;
    font-family: arial, sans-serif;
    height: auto;
    border-radius: 10px;
}

.conteudo h2{
    text-align: left;
}

.logo img{
    width: 100px;
    height: 75px;
    float: left;
    margin-left: 25px;
    margin-right: -150px;
}

#titulo{
    text-align: center;
    font-weight:bold;
}

#pret{
    font-size:small;
}

#list{
    margin-left: 40px;
}

#linha{
    color: white;
}